<?xml version="1.0" encoding="UTF-8" ?>

<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>net.hexuscraft</groupId>
        <artifactId>hexuscraft-plugin</artifactId>
        <version>1.0.0</version>
        <relativePath>plugin.xml</relativePath>
    </parent>

    <name>App</name>
    <artifactId>hexuscraft-app</artifactId>
    <packaging>pom</packaging>

    <build>
        <!-- Latest plugin versions: https://maven.apache.org/plugins/index.html -->
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-jar-plugin</artifactId>
                <configuration>
                    <finalName>${project.name}-unshaded</finalName>
                    <outputDirectory>${project.basedir}/../out/base</outputDirectory>
                    <archive>
                        <addMavenDescriptor>false</addMavenDescriptor>
                        <manifest>
                            <addDefaultEntries>false</addDefaultEntries>
                        </manifest>
                    </archive>
                </configuration>
            </plugin>
        </plugins>
    </build>
</project>